html,body,.fullHeight{
	min-height: 100%;
	height: 100%;
}
#app > div{
	padding: 50px 0 0;
}
.admin-bar .menu {
    top: 32px;
}
.menu{
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	line-height: 1;
	padding: 0;
	margin: 0;
	z-index: 100;
}
.content{
	position: relative;
	min-height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-ms-flex-direction: column;
}
.content.topimg{
	background-image: url(assets/img/topimg.jpg);
	background-size: cover;
}
.contentInner {
	padding: 0 40px;
}

.intro {
	display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    position: relative;
    overflow: hidden;
    margin: auto;
    padding: 0 10%;
}
.intro.title {
	background: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
	color: #fff;
	text-shadow: 0px 0px 10px #000;
	padding-right : 40px;
}
.intro.title a { color: #fff; }

.menuList {
	display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    list-style: none;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding: 0;
    color: white;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.menuItem {
	-webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 1;
    -moz-flex: 0 1 1;
    -ms-flex: 0 1 1;
    flex: 0 1 1;
	text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    padding: 0 20px;
    white-space: nowrap;
}
.menuItem:hover {
	background: #f5f5f5;
	color: #000;
}

.postList {
	display: block;
}
.postTitle {
	letter-spacing: 2px;
}
.termItem {
	display: inline-block;
	padding: 5px 0;
	margin-right: 10px;
}


/* Footer */
.footer a {
	color: #fff;
}
.footerMenuList {
	background-color: #666;
	padding: 20px;
}
.footerMenuItem {
	display: inline-block;
	padding: 5px 10px;
}
.footerSubMenuList {
	background-color: #333;
	padding: 20px;
}
.footerSubMenuItem {
	display: block;
	padding: 5px 10px;
	color: #fff;
	text-align: center;
}
.copyright {
	background-color: #000;
	padding: 20px 20px;
	color: #fff;
}
