body,
button,
input,
select,
textarea {
  font-family: inherit;
  color: #404040;
  font-size: 16px;
  font-weight: normal;
}

dfn, cite, em, i, blockquote {
  font-style: normal;
  text-decoration: none;
}

em, i {
  background: #e7e5e1;
}
pre {
  font-size: 1em;
  line-height: 1em;
}
body {
  font-family: "Open Sans", "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
  line-height: 1;
  margin: 24px 0;
}
h1 {
  color: #b4595f;
  font-size: 28px;
}

h2 {
  color: #b4595f;
  font-size: 24px;
  font-weight: normal;
}

h3 {
  color: #b4595f;
  font-size: 20px;
  font-weight: normal;
}

h4 {
  color: #b4595f;
  font-size: 16px;
}

h5 {
  color: #b4595f;
  font-size: 16px;
}

h6 {
  font-size: 13px;
}

hr {
  background-color: #5c544b;
}

blockquote {
  color: #9a9283;
  border-left: 5px solid rgba(154, 146, 131, 0.25);
  font-size: 16px;
  font-weight: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #5c544b;
  color: #d4d4cc;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #b4595f;
}

textarea {
  background: #d4d4cc;
  border: 1px solid #d4d4cc;
}

address {
  font-style: normal;
  margin-bottom: 24px;
}

pre {
  padding: 20px;
}

code, kbd, tt, var {
  font-size: 0.9em;
}

abbr, acronym {
  border-bottom: 1px dotted #9a9283;
}

td, th {
  border-bottom: 1px solid rgba(154, 146, 131, 0.25);
}

.contentInner a {
  color: #b4595f;
}
.contentInner a:visited {
  color: #b4595f;
}
.contentInner a:hover, a:focus, a:active {
  color: #5c544b;
}

html,body,.fullHeight{
	min-height: 100%;
	height: 100%;
}
#app > div{
	padding: 50px 0 0;
}
.admin-bar .menu {
    top: 32px;
}
.menu{
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	line-height: 1;
	padding: 0;
	margin: 0;
	z-index: 100;
}
.content{
	position: relative;
	min-height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-ms-flex-direction: column;
}
.content.topimg{
	background-image: url(assets/img/topimg.jpg);
	background-size: cover;
}
.contentInner {
	padding: 0 40px;
}

.intro {
	display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    position: relative;
    overflow: hidden;
    margin: auto;
    padding: 0 10%;
}
.intro.title {
	background: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
	color: #fff;
	text-shadow: 0px 0px 10px #000;
	padding-right : 40px;
}
.intro.title a { color: #fff; }
.site-title {
	color: #fff;
}

.globMenuList {
	display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    list-style: none;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding: 0;
    color: white;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.globMenuItem {
	-webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 1;
    -moz-flex: 0 1 1;
    -ms-flex: 0 1 1;
    flex: 0 1 1;
	text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    padding: 0 20px;
    white-space: nowrap;
}
.globMenuItem:hover {
	background: #f5f5f5;
	color: #000;
}

.postList {
	display: block;
}
.postTitle {
	letter-spacing: 2px;
}
.archiveNext {
	cursor: pointer;
}
.termItem {
	display: inline-block;
	padding: 5px 0;
	margin-right: 10px;
}


/* Footer */
.footer a {
	color: #fff;
}
.footerMenuList {
	background-color: #666;
	padding: 20px;
}
.footerMenuItem {
	display: inline-block;
	padding: 5px 10px;
}
.footerSubMenuList {
	background-color: #333;
	padding: 20px;
}
.footerSubMenuItem {
	display: block;
	padding: 5px 10px;
	color: #fff;
	text-align: center;
}
.copyright {
	background-color: #000;
	padding: 20px 20px;
	color: #fff;
}
